<div class="container">
    <div id="instruct_header">
        <h2 class="text-center bolded-blue" data-i18n="study-fl-instruct-header-{{ task_order }}"></h2>
        <h4 class="text-center" style="margin-top: 30px;" data-i18n="study-fl-instruct-alert-p{{ task_order }}-{{ task_type }}"></h4>
    </div>
    <div id="instruct_example" class="container-lg">
        <div class="p-3">
            <p class="row m-0" data-i18n="study-fl-instruct-intro{{ task_order }}-p1"></p>
            <img class="mx-auto d-block" src="./img/example-prompt-{{ task_type }}.png">
        </div>
        <div class="p-3">
            <p class="row m-0" data-i18n="study-fl-instruct-intro{{ task_order }}-p2"></p>
            <img class="mx-auto d-block" src="./img/example-timer.png">
        </div>
        <div class="p-3">
            <p class="row m-0" data-i18n="study-fl-instruct-intro{{ task_order }}-p3-{{ task_type }}"></p>
            <img class="mx-auto d-block" src="./img/example-responses-{{ task_type }}.png">
            <p class="row m-0" data-i18n="study-fl-instruct-examples-{{ task_type }}"></p>
        </div>
        <h5 class="row text-center" data-i18n="study-fl-instruct-intro-p4"></h5>
    </div>
</div>