<div class="container">
    <div id="instruct_header">
        <h2 class="text-center bolded-blue" data-i18n="fl-instruct-header-{{ task_order }}"></h2>
        <h3 class="text-center" style="margin-top: 30px;" data-i18n="fl-instruct-alert-p{{ task_order }}-{{ task_type }}"></h3>
    </div>
    <div id="instruct_example" class="container-lg">
        <p class="row" data-i18n="fl-instruct-intro{{ task_order }}-p1"></p>
        <img class="mx-auto d-block" src="./img/example-prompt-{{ task_type }}.png">
        <p class="row"data-i18n="fl-instruct-intro{{ task_order }}-p2"></p>
        <p class="row" data-i18n="fl-instruct-examples-{{ task_type }}"></p>
        <img class="mx-auto d-block" src="./img/example-responses-{{ task_type }}.png">
    </div>
</div>