<h5 id="progress-bar" class="text-center  bolded-blue data-i18n="></h5>
<div id="task_type" data-type="{{ config.task_type }}"></div>
<div style="display:flex; justify-content: center;">
    <span id="upBtn" class="bolded-blue" style="visibility: hidden; font-size: 100px; margin-top: 75px;">&#8593;</span>
    <canvas id='prompt_canvas'></canvas>
    <span id="downBtn" class="bolded-blue" style="visibility: hidden; font-size: 100px; margin-top: 75px;">&#8595;</span>
</div>

<div id="button-container" style=" display: flex; justify-content: center;">
    <button id="doneButton" class="btn btn-primary" style="visibility: hidden; margin-top: 30px;"
            onclick="finishTrial()" data-i18n="study-fl-btn-done"></button>
</div>

<script>
    let task_type = document.getElementById("task_type").dataset.type;
    let TRIALS_RESPONSES = [];

    function setupWindow() {
        let random_trials = LITW.study.params.tasks.sort(() => 0.5 - Math.random())
                                                   .slice(0, LITW.study.params.task_qtd);
        let canvas_width = (window.innerWidth < 700) ? 300 : 600;
        let canvas_height = 300;
        LITW.study.frameline.setup_canvas(random_trials, "prompt_canvas", canvas_width, canvas_height, "downBtn", "upBtn");
    }

    function initNextTrial() {
        let trialStarted = LITW.study.frameline.start_next_trial(prompt_show_time=5000,
            prompt_callback= ()=>{
                document.getElementById("progress-bar").textContent =
                    `${$.i18n('study-fl-progress-trial')} (${task_type}):
                    ${LITW.study.frameline.get_current_trial_number()} /
                    ${LITW.study.frameline.get_total_trials_number()}`;
            },
            response_callback= ()=>{
                document.getElementById("doneButton").style.visibility = "visible";
                document.getElementById("upBtn").style.visibility = "visible";
                document.getElementById("downBtn").style.visibility = "visible";
            }
        )
        if(!trialStarted) {
            finishExperiment();
        }
    }

    function finishTrial() {
        let finished_trial = LITW.study.frameline.finish_current_trial(task_type);
        if(finished_trial) {
            document.getElementById("doneButton").style.visibility = "hidden";
            document.getElementById("upBtn").style.visibility = "hidden";
            document.getElementById("downBtn").style.visibility = "hidden";
            TRIALS_RESPONSES.push(finished_trial);
            initNextTrial();
        } else {
            finishExperiment();
        }
    }

    function finishExperiment() {
        LITW.study.params.results[task_type] = TRIALS_RESPONSES;
        document.onkeydown = function () {};
        $('#btn-next-page').click();
    }


    $(document).ready(() => {
        setupWindow();
        initNextTrial();
    });

</script>