<div id="practice-start">
    <h2 class="text-center bolded-blue" data-i18n="litw-study-practice"></h2>
    <h3 id="instructions-one" class="text-center data-i18n=" data-i18n="litw-practice-p1"></h3>
    <div style=" display: flex; justify-content: center; align-items: center;">
    <button id="startButton" class="btn btn-primary" type="submit" onclick="startPractice()" style="margin-top: 20px;"   data-i18n="litw-study-start-practice"></button>
    </div>
</div>
<div id="practice-instructions">
    <h5 id="instructions-two" class="text-center data-i18n=" style="visibility: hidden;" data-i18n="litw-practice-p2-{{task_type}}"></h5>
    <h5 id="instructions-three" class="text-center data-i18n=" style="visibility: hidden;" data-i18n="litw-practice-p3-{{task_type}}"></h5>
</div>
<div style="display:flex; justify-content: center;">
    <canvas id='prompt_canvas'></canvas>
</div>
<canvas id='prompt_canvas'></canvas>

<script type="text/javascript">
    function startPractice() {
        window.addEventListener("keydown", function(e) {
            // space and arrow keys
            if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
                e.preventDefault();
            }
        }, false);
        let startButton = document.getElementById("startButton");
        startButton.style.display = "none";
        let instructionsOne = document.getElementById("instructions-one");
        instructionsOne.style.display = "none";
        let instructionsTwo = document.getElementById("instructions-two");
        instructionsTwo.style.visibility = "visible";

        // Trying to learn about canvases
        let canvas1 = document.getElementById("prompt_canvas");
        canvas1.width = 600;
        canvas1.height = 300;
        const ctx = canvas1.getContext("2d");
        ctx.strokeRect(200, 50, 200, 200);

        drawLine(50, 100);

        let lastY = 50;

        let count = 5;
        const timer = setInterval(function() {
            count--;
            console.log(count);
            if (count === 0) {
                clearInterval(timer);
                ctx.clearRect(0, 0, canvas1.width, canvas1.height);

                let practiceInstructions = document.getElementById("practice-instructions");
                let instructionsTwo = document.getElementById("instructions-two");
                practiceInstructions.removeChild(instructionsTwo);
                let instructionsThree = document.getElementById("instructions-three");
                instructionsThree.style.visibility = "visible";

                ctx.strokeRect(250, 50, 100, 100);

                ctx.fillStyle = "black";

                let moveAmount = 5;

                document.onkeydown = function(e) {
                    if (e.keyCode == 40) {
                        drawLine(lastY, lastY + 5);
                        lastY = lastY + 5;
                    } else if (e.keyCode == 38) {
                        ctx.clearRect(290, lastY, 25, 5);
                        lastY = lastY - 5;
                    }
                }

            }
        }, 1000);
    }

    function drawLine(y1, y2) {
        let canvas1 = document.getElementById("prompt_canvas");
        const ctx = canvas1.getContext("2d");
        ctx.beginPath(); // Start a new path
        ctx.moveTo(300, y1);
        ctx.lineTo(300, y2);
        ctx.stroke(); // Render the path
    }
</script>