<h5 id="instructions-four" class="text-center  bolded-blue data-i18n=">Trial: </h5>
<div style="display:flex; justify-content: center;">
  <canvas id='prompt_canvas'></canvas>
</div>

<script>

  let trialNum = 1;

  let squareSizes = [100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500, 525, 550, 575, 600];
  let lineFractions = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.25, 0.75, 0.33, 0.66];

  window.onload = initTrial();

  function initTrial() {
    let canvas1 = document.getElementById("prompt_canvas");
    canvas1.width = 800;
    canvas1.height = 700;
    const ctx = canvas1.getContext("2d");
    let randomDimension = squareSizes[Math.floor(Math.random() * 21)];
    let randomLineLength = lineFractions[Math.floor(Math.random() * 13)];
    console.log(randomDimension)
    console.log(randomLineLength)
    ctx.strokeRect((canvas1.width - randomDimension) / 2, 50, randomDimension, randomDimension);

    drawLine(((canvas1.width - randomDimension) / 2) + randomDimension / 2, 50, 50 + Math.floor(randomLineLength * randomDimension));
  }


  function drawLine(x, y1, y2) {
        let canvas1 = document.getElementById("prompt_canvas");
        const ctx = canvas1.getContext("2d");
        ctx.beginPath(); // Start a new path
        ctx.moveTo(x, y1);
        ctx.lineTo(x, y2);
        ctx.stroke(); // Render the path
    }

</script>